{% extends "layout/base.twig" %}

{% block title %}[[The PHP Framework for future Innovators]]{% endblock %}
{% block body %}
    <h1 class="main-title">The PHP Framework <span>for future Innovators</span></h1>
{% endblock %}
